h1 {
    color: $secundary;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 900;
    padding: 0.3em 0.1em;
}
.auth__main {
    align-items: center;
    background-color: $primary;
    display: flex;
    justify-content: center;
    margin: 0px;
    height: 100vh;
    width: var(--ancho-main);
}

.auth__box_container {
    backdrop-filter: blur(3px);
    background-color: var(--bg-white);
    border-radius: var(--br);
    border: var(--border);
    box-shadow: -1px 2px 5px 3px rgba(255,255,0,0.6);
    color: $primary;
    margin-left: 32%;
    max-width: 350px;
    padding: 5px;
    position: relative;
    width: 55%;
    z-index: 999;
}

.auth__imagen {
    position: fixed;
    height: 72%;
    // width: 95vw;
    width: 95%;
    max-width: 1400px;
    transform: scaleX(-1);
    border-right: 1px solid yellowgreen;
    border-top: 1px solid yellowgreen;
    border-left: 2px solid $secundary;
    border-bottom: 2px solid $secundary;
}

.auth__input {
    color: $dark-grey;
    font-size: large;
    margin-bottom: 8px;
    outline: none;
    padding: 5px;
}

.auth__input_error {
    color: $dark-grey;
    font-size: large;
    margin-bottom: 8px;
    outline: none;
    padding: 10px;
    border-radius: 2px;
    border-color: darkred;
}

.auth__label {
    color: $dark-grey;
    font-weight: bold;
    font-size: 16px;
    padding: 0.4em 0.1em;
}

span, .error-message {
    color: darkred;
    font-style: italic;
    font-size: 75%;
    margin-bottom: 8px;
}

.auth__franjaSuperior {
    position: fixed;
    // position: absolute;
    top: 0;
    width: 100vw;
    height: 18%;
    background-color: $secundary;
}

.auth__logo {
    position: fixed;
    left: 36vw;
    top: -5px;
    height: 15%;
    max-height: 15%;
}

.auth__boton {
    height: 40px;
    background-color: $primary;
    width: 100%;
    border: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: large; 
    font-weight: bold;
    padding: 0.3em 1em;
    margin: -5px 0 0 0;
    border-radius: 5px;
    cursor: pointer;
}
.auth__boton:hover {
    filter: brightness(130%);
}

.auth__link {
    text-decoration: none;
    font-size: medium;
    font-style: normal;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.auth__link:hover {
    color: $secundary;
    font-weight: 700;
    text-decoration: underline;
    box-shadow: 0 2px 0 0 rgba(0,50,0,.062);
    transition: box-shadow .2s ease;
    cursor: pointer;
}



@media (orientation: landscape)  {
    h1 {
        font-size: 18px;
        padding: 0;
        margin: 0;
        margin-bottom: 3px;
    }

    .auth__box_container {
        margin-left: 42%;
        margin-top: -2px;
        padding: 0 5px 0 5px;
    }

    .auth__label {
        font-size: 14px;
        padding-top: 1px;
        padding-bottom: 0;
    }

    .auth__input {
        font-size: 0.8em;
        margin-bottom: 5px;
        padding: 3px;
    }

    .auth__input_error {
        font-size: 0.8em;
        margin-bottom: 5px;
        padding: 5px;
    }
            
    .auth__boton {
        height: 30px;
        font-size: 17px; 
        padding: 0;
        margin: -3px 0 -5px 0;
    }

    .auth__link {
        font-size: small;
        margin-top: 5px;
    }
}

@media all and (min-width: 760px) {
    h1 {
        font-size: 30px;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 900;
        margin-bottom: 5px;
    }

    .auth__box_container {
        // margin-left: 52%;
        margin-left: 65vw;
    }

    .auth__label {
        margin-top: 5px;
    }

    .auth__logo {
        left: 45vw;
    }
}

